*
{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
a
{
	text-decoration: none;
}
li
{
	list-style: none;
}
.clearfix:after
{
	content: "";
	display: table;
	clear: both;
}
.button
{
	font-family: 'Montserrat Regular';
	font-weight: bold;
	padding: 0 30px;
	border-radius: 50px;
	text-align: center;
	line-height: 60px;
	transition: box-shadow 0.15s ease-in-out 0s;
}
body
{
	max-width: 2000px;
	font-family: Montserrat, sans-serif;
	font-size: 16px;
	margin:0 auto;
	overflow-x: hidden;
}
header
{
	position: absolute;
	height: auto;
	padding-top: 70px;
	width: 100%;
	top: 0;
	max-width: 2000px;
	background: rgba(54, 25, 25, .0);
	z-index: 1;
	font-size: 0;
}

header .left_side 
{
    width: 62%;
}
.header_logo
{
	margin-left: 10.8%;
	float: left;
	line-height: 22px;
}
.header_logo img
{
	position: absolute;
	margin-top: -7px;
}
.header_logo h1 
{
    font-family: Montserrat Bold, sans-serif;
    font-size: 24px;
    font-weight: 800;
    cursor: pointer;
    display: inline-block;
}
.phone
{
	font-size: 14px;
	font-weight: 400;
	color: #92a1a5;
	float: left;
	padding-left: 60px;

}
.phone img
{
	float: left;
	margin-top: -3px;	
}
.phone p
{
	font-family: 'Montserrat Regular';
	font-weight: 400;
	width: 40vw;
}
header .right_side 
{
    position: relative;
    float: right;
    width: 38%;
}


.topnav {

    float: right;
    margin-right: 25.3%;
    margin-top: 18px;
    background-color: #000000c2;
    color: #fff;
    border-bottom-left-radius: 5px;
   
}
.topnav.responsive a
{
	display: block;
}
.topnav.responsive
{
	 border-top: 1.8px solid white;
}
nav .buy {
    font-family: 'Montserrat Bold', sans-serif;
    float: right;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    margin-right: 35.8%;
    margin-left: auto;
    right: 0px;
    border-bottom: 1px solid #fc7177;
    z-index: -1;
}
.topnav a {

    color: #fff;
    display: none;
    font-family: 'Montserrat Bold', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 25px 90px 15px 15px
}
.topnav a:hover
{
	border-bottom: solid #fff 5px;
	color:#fd343d;
	margin-left: 0;
}

.topnav #menu {
    cursor: pointer;
    display: block;
    position: absolute;
    padding:0;
    top: 0;
    right: 25.42%;
    color: #fff;
    border:none;
}

.topnav a:nth-of-type(7)
{
	border-bottom-left-radius: 5px;
}

.top
{
	position: relative;
	width: 100%;	
	max-width: 2000px;
	height: 1032px;
}
.top .left_side
{
		
	float: left;
	top: 0;
	left: 0;
	width: 62%;
	height: 1032px;
	background-color: white;
}

.wrapper
{
	height: 150px;
	margin: 460px 20px 0 calc(12.5% + 60px);
	position: relative;
	max-width: 400px;
	z-index: 5;
}
.wrapper>input
{
	display: none;
}
.wrapper .controls {
    left: 0%;
    bottom: 50%;
    margin-left: -70px;
    position: absolute;
}
.wrapper label {
    cursor: pointer;
    display: block;
    height: 8px;
    margin: 18px 0 0 0px;
    position: relative;
    width: 8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
	background-color: #e1e1e1;
	-webkit-transition: background ease-in-out .5s;
	-moz-transition: background ease-in-out .5s;
	-o-transition: background ease-in-out .5s;
	transition: background ease-in-out .5s;
}
.wrapper label:hover, 
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4)
{
	background-color: #ff343d;
}

.wrapper label:after {
    content: " ";
    display: block;
    height: 8px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.slide
{
	font-family: 'Montserrat Regular';
	font-weight: 400;
	line-height: 30px;
	height: inherit;
	opacity: 0;
	position: absolute;
	width: inherit;
	z-index: 0;
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}
#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4
{
	opacity: 1;
	z-index: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.slide h2
{
	font-size: 60px;
	padding-top: 10px;
}
.slide p
{
	color: #92a1a5;
	font-size: 14px;
	padding-top: 50px;
}
#slider
{
	height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;	
}

.left_side>p
{
	font-family: 'Montserrat Bold', sans-serif;
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
    transform: rotate(-90deg);
    width: auto;
    height: auto;
    margin: 235.530px 0 170px 12.5%;
}

.top .drone {
    left: 0;
    top: 0;
    width: 100%;
    position: absolute;
    z-index: 0;
}
.top .big_circle {
    width: 650px;
    height: 650px;
    background: white;
    border-radius: 50%;
    margin-top: 190px;
    margin-left: 45.3%;
    z-index: 0;
    position: absolute;
    max-width: 32vw;
    min-width: 285px;
    min-height: 285px;
    max-height: 32vw;
}
.drone img {
    display: block;
    margin-left: 45.3%;
    max-width: 51.5%;
    min-width: 450px;
    transform: translate(-17.8%,0);
    margin-top: 210px;
    z-index: 5;
}

.top .right_side
{
	position: relative;
	background-color: #fd343d;
	float: right;
	width: 38%;
	padding-bottom: 1032px;
	overflow: hidden;
	z-index: -1;
}
.top .right_side>p {
    position: absolute;
    font-family: 'Montserrat Bold', sans-serif;
    font-weight: 700;
    font-size: 388px;
    color: rgb(253, 52, 61);
    transform: rotate(90deg) translate(100%, 20%);
    transform-origin: right top;
    text-shadow: -20px -16px 100px rgba(0, 0, 0, 0.13);
    line-height: 268px;
    top: -30px;
    right: 0;
}

.dron_fly
{
	position: relative;
	width: 100%;
	max-width: 2000px;
	font-family: 'Montserrat Regular';
}
.tap_to_fly
{
	background-repeat: no-repeat; 
	float: left;
	width: 30.8%;
	background-image: url(https://github.com/MihailNaumov/mars.github.io/raw/master/img/Half_dron.png);
	height: 615px;
}
.tap_to_fly h2
{
	padding-top: 260px;
	padding-left: 215px;
	padding-bottom: 5px;
	font-weight: 900;
	font-size: 60px;
	line-height: 60px;
}
.tap_to_fly p
{
	font-size: 14px;
	color: #92a1a5;
	padding-bottom: 270px;
	padding-left: 215px;
	line-height: 30px;
}
.fly_higher
{
	background-repeat: no-repeat;
	float: right;
	width: 69.2%;
	background-image: url(https://github.com/MihailNaumov/mars.github.io/raw/master/img/Dron_view.png);
	height: 615px;
}
/* фывфыв */
.fly_higher h2 
{
	padding-top: 260px;
	padding-left: 90px;
	font-size: 60px;
	line-height: 72px;
	color: #fff;
	display: inline-block;
	width: 44.65%;
	height: 614px;
	background-color: rgba(0,0,0,0.7);
}
.fly_higher a {
    float: right;
    transform: rotate(-90deg) translate(-100%, -100%);
    transform-origin: right top;
    margin-right: 15.58%;
    padding: 0 35px;
    background: white;
    color: #000;
    font-size: 18px;
}
.fly_higher a:hover
{
	box-shadow: 0 0 20px 0px #0000007d;
}
.features
{
	font-family: 'Montserrat Regular', sans-serif;
}
.features .aligner
{
	height: auto;
	width: auto;
	display: flex;
	justify-content: space-around;
	align-content: center;
	text-align: center;
	font-size: 30px;
	font-weight: 400;
}
.features h2
{
	margin:125px 0 125px 0;
	font-size: 48px;
	text-align: center;
	
	font-weight: bold;
}
.features p
{
	vertical-align: bottom;
	padding:75px 0 135px 0;
}
.features .goodSignal p
{
	padding-top: 79px;
}

.new_vision
{
	height: 656px;
}
.new_vision .left_side
{
	float: left;
	width: 48.5%;
	height: inherit;
	min-height: 450px;
	background: url(img/Control.png) center;
	background-size: cover;
	background-repeat: no-repeat;
}
.new_vision .right_side
{
	float: right;
	width: 51.5%;
	height: inherit;
	min-height: 450px;
	background: url(img/DronIcon.png) calc(100% + 225px) center no-repeat #232323;
}
.new_vision h2
{
	font-family: 'Montserrat Regular';
	font-weight: 400;
	font-size: 92px;
	color: #fff;
	line-height: 102px;
	padding: 16.96% 0 0 13.2%;
}
.new_vision h2 span
{
	color: #ff343d;
}
.new_vision a 
{
    display: inline-block;
    position: relative;
    margin-top: 7.62%;
    margin-left: 13.2%;
    margin-bottom: 28.96%;
    padding: 3px 30px;
    border: 2px solid #3b3b3b;
    width: auto;
    background: transparent;
    color: #fff;
    text-align: center;
    font-size: 18px;
}
.new_vision a:hover
{
	box-shadow: 0 0 20px 0px #00000063;
}

.new_flying
{
	background: #fff;
	height: 870px;
	position: relative;
	overflow:hidden;
}
.new_flying h2
{
	width: 970px;
	font-family: 'Montserrat Regular';
	font-weight: 400;
	font-size: 92px;
	color: #000;
	line-height: 102px;
	padding: 335px 0 0 10.8%;

}
.new_flying h2 span
{
	color: #ff343d;
}
.new_flying a 
{
    display: inline-block;
    position: relative;
    z-index: 5;
    margin-top: 60px;
    margin-left: 10.8%;
    width: auto;
    background: white;
    color: #000;
    font-size: 18px;
    box-shadow: 0 0 4px 0px #00000038;
}
.new_flying a:hover
{
	box-shadow: 0 0 20px 0px #00000063;
}
.new_flying img
{
	position: absolute;
	right: 0;
	bottom: 130px;
	max-width: 100%;
	transform: translate(13%, 0);
}

.journey
{
	height: 1190px;
	background-image: url(img/Wharf.jpeg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	text-align: center;
}
.journey h2
{
	font-family: 'Montserrat Regular';
	font-weight: 600;
	font-size: 92px;
	color: #fff;
	line-height: 102px;
	padding-top: 800px;
	text-shadow: 0 0 10px #00000063;
}
.journey a 
{
    display: inline-block;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    background: white;
    color: #318f76;
    text-align: center;
    font-size: 18px;

}
.journey a:hover
{
	box-shadow: 0 0 20px 0px #00000063;
}

footer
{
	font-size: 0px;
	width: auto;
	float: left;
	line-height: 30px;
	text-align: center;
	width: 100%;
	height: 540px;
	max-width: 2000px;
}
footer h2
{
	font-family: Montserrat Regular;
    font-size: 24px;
    color: #000000;
    font-weight: 800;
    padding-top:230px;
    cursor: pointer;
    display: inline-block;
}
footer img
{
	position: relative;
	padding-bottom: 14px;
}
footer p
{
	font-family: Montserrat Regular;
	font-size: 14px;
	color:#92a1a5;
}





@media screen and (max-width: 1800px) 
{
	.new_flying h2
	{
		position: relative;
		padding-top: 100px;
		width: 70%;
		z-index: 5;
	}
	.new_flying img
	{
		bottom: 5%;
	}

}
@media screen and (max-width: 1350px)
{
	.top
	{   
		height: calc(1032px/1.58);
		overflow: hidden;
	}
	.left_side>p
	{
		display: none;
	}
	.top .right_side>p
	{
		font-size: 270px;
		transform: rotate(90deg) translate(100%, 5%);
	}
	.features .aligner
	{
		flex-wrap: wrap;
	}
	.new_vision 
	{
		height: auto;
	}
	.new_vision .left_side
	{
		float: none;
		width: 100%;
		background-size: cover;
	}
	.new_vision .right_side
	{
		float: none;
		width: 100%;
	}
	.new_vision .right_side h2
	{
		font-size: 8vw;
		line-height: 10vw;
	}
	.new_vision .right_side a
	{
		margin-bottom: 10%;
	}
	.new_flying
	{
		height: 90vw;
	}
	.new_flying h2
	{
		padding-top: 100px;
		width: 90%;
		font-size: 8vw;
    	line-height: 10vw;
	}
}

@media screen and (max-width: 1215px) 
{
	.slide h2
	{
		font-size: 1.6em;
	}
	.top .left_side, .top .right_side
	{
		height: calc(1032px/1.4);
	}


/* начало	 */
	.header_logo h1
	{
		font-size: 30px;
	}
	.header_logo img
	{
		width: 14px;
	}

	.phone p
	{
		width: 50vw;
		font-size: 18px;
	}
	.phone img
	{
		width:35px;
	}
	.topnav
	{
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		margin-top: 22px;
	}
	.topnav #menu
	{
		right: 12px;
	}
	.topnav #menu img
	{
		width: 150%;
	}
	.topnav a
	{
		font-size: 19px;
		padding-left: 23px;
	}
	nav .buy 
	{
		margin-left: 0;
		font-size: 19px;
	}
/* конец	 */

	.drone img
	{
		margin-left: 42.6%;
	}
	.top .big_circle
	{
		margin-left: 42.6%;
	}
	.tap_to_fly 
	{
		float: none;
		width: 100%;
		background-color: #f8f9fb;
	}
	.tap_to_fly h2 
	{
	    padding-left: 40%;
	    font-size: 10.5vw;
	    padding-bottom: 3%;
	    line-height: 90px;
	}
	.tap_to_fly p 
	{
		font-size: 2.5vw;
		padding-left: 40%;
	}
	.fly_higher
	{
		float: none;
		width: 100%;
	}
	.new_flying
	{
		height: 100vw;
	}

}
@media screen and (max-width: 900px) 
{
	.button
	{
		font-size: 18px;
	}
	/* начало	 */
	.header_logo h1
	{
		margin-bottom: 40px;
	}
	.phone
	{
		padding-left: 10.8%;
	}
/* конец	 */
	.fly_higher h2 
	{
		padding: 10% 0 10% 0;
	    width: 100%;
	    height: auto;
	    text-align: center;
	    font-size: 9vw;
	    line-height: 120%;
	}
	.fly_higher a 
	{
	    position: absolute;
	    bottom: 0;
	    left: 50%;
	    margin: 0 0 30px -100px;
	    width: 200px;
	    transform: rotate(0deg) translate(0, 0);
	    width: auto;
	}
	.new_vision .right_side
	{
		background-size: 440px 440px;
		background-position: calc(100% + 180px) center;
	}
	.features .aligner div
	{
		width: 50%;
	}
	.new_flying a
	{
		position: absolute;
		bottom: 10%;
	}
	.journey h2
	{
		font-size: 80px;
	} 
	footer
	{
		height: 100vw; 
	}	
}

@media screen and (max-width: 600px) 
{
	div .button
	{
		font-size: 13px;
	}

	.drone img 
	{
    	margin-left: 36.3%;
	}
	.top .big_circle 
	{
    	margin-left: 36.3%;
	}
	.top .right_side>p 
	{
	    font-size: 245px;
	    transform: rotate(90deg) translate(101%, -19%);
	    right: 0;
	}
	.tap_to_fly h2 
	{
	    font-size: 49px;
	    padding-bottom: 8px;
	    line-height: initial;
	    padding-left: 48%;
	    height: auto;
	}
	.tap_to_fly p 
	{
		font-size: 14px;
		padding-left: 48%;
	}
	.fly_higher h2
	{
		font-size: 11vw;
	}
	.features .aligner
	{
		flex-direction: column;
	}
	.features .aligner div
	{
		width: 10%;
	}
	.new_vision .right_side h2
	{
		padding-top: 30%;
	}
	.journey
	{
		height: 595px;
	}
	.journey h2
	{
		font-size: 65px;
		padding-top: 150px;
	} 
}
